name: Test

on:
  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    services:
      postgres:
        image: postgres:17
        env:
          PGDATA: /var/lib/postgresql/data/pgdata
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - run: go mod download
      - run: go install gotest.tools/gotestsum@latest

      - name: Run tests
        run: gotestsum --junitfile unit-tests.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          report_paths: unit-tests.xml
